.Dashboard_admin__wrapper{
    display: flex;
    width: 100vw;
    flex-direction: column;
    background-color: var(--gray--trans);
}

.Dashboard_admin {
    display: flex;
    width:100%;
    height: fit-content;
    justify-content: space-between;
    padding: 40px;
    position: relative;
    clear: both;
}

.Dashboard_admin__form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 0 10px 10px 0;
    padding: 40px 40px 20px 40px;
    border: solid 1px var(--black);
    background-color: var(--white);
}

.Dashboard_admin_form__full_name{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form_first_name, .form_last_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: fit-content;
}

.Dashboard_admin_form__input_name{
    width: 120px;
    padding: 10px 20px;
    font-size: 1.6rem;
}

.Dashboard_admin__infor_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 1.6rem;
    width: 350px;
}

.Dashboard_admin_form__label{
    width: 100%;
}

.Dashboard_admin_form__input{
    width: 100%;
    padding: 10px 20px;
    font-size: 1.6rem;
}

.Dashboard_admin_form__input_date{
    width: 100%;
    height: 45px;
    font-size: 1.6rem;
    display: flex;
}

.Dashboard_admin_form__input_date > .form-control {
    flex: 1;
    border: none !important;
    font-size: 1.6rem !important;
    padding-left: 20px;
}

#description{
    width: 100%;
    padding: 10px 20px;
    font-size: 1.6rem;
}

.Dashboard_admin_form__input_description{
    width: 100%;
    padding: 10px 20px;
    font-size: 1.6rem;
}

.normal-input{
    border-radius: 5px;
    border: solid 1px var(--black);
}

.error-input{
    border-radius: 5px;
    border: solid 1px var(--red);
}

.Dashboard_admin__form--reset{
    width: 100%;
    color: var(--purple);
    font-weight: lighter;
}

.error{
    display: flex;
    font-size: 1.4rem;
    color: var(--red);
    margin-top: -10px;
}

.Dashboard_admin__form--submit_btn{
    display: flex;
    justify-content: center;
    background: var(--purple);
    width: 100px;
    padding: 10px 0;
    border-radius: 10px;
    border: none;
    color: var(--white);
    font-size: 1.6rem;
}

.form__list{
    display: flex;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: solid 1px var(--black);
}

.form__seat_range{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form__start_seat, .form_last_seat{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_input_seat{
    width: 150px;
    padding: 10px 20px;
    font-size: 1.6rem;
}

.Dashboard_admin__sidebar{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    height: 100%;
    border-radius: 10px 0 0 10px;
    padding: 40px 40px 20px 40px;
    border: solid 1px var(--black);
    height: auto;
    font-size: 1.6rem;
    background-color: var(--white);
}

.Sidebar__avt_name{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
    border-bottom: solid 2px var(--black);
    width: 90%;
    margin-bottom: 10px;
}

.Sidebar_avt{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 1px var(--black);
}

.iconPencil{
    width: 20px;
}


.Sidebar__menu{
    list-style: none;
}

.Sidebar__menu--item{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    width: 200px;
    color: var(--black);
    cursor: pointer;
}

.Sidebar__menu--item_active{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    width: 200px;
    color: var(--background-color-1);
    cursor: pointer;
}

.Dashboard_admin__avatar{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.form_avt{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 1px var(--black);
}

.import_file_avatar{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 3rem;
    height: 3rem;
    background-color: var(--white);
    border: solid 1px var(--black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Dashboard_admin__infor_input--title{
    font-size: 2rem;
    text-transform: uppercase;
    padding-left: 10px;
    font-weight: bold;
    color: var(--background-color-1);
}

.Dashboard_admin__report{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    align-items: center;
    border-radius: 0 10px 10px 0;
    border: solid 1px var(--black);
    background-color: var(--white);
}

.Report_data{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: var(--nav-top-gradient);
    border-radius: 0 8px 0 0;
}

.Successful_transaction, .Failed_transaction, .Progress_transaction, .Total_transaction{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 1.6rem;
    padding: 10px 0;
}

.Report_chart_line{
    display: flex;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 40px;
}

.Dashboard_admin__user_management--title{
    font-size: 2rem;
    text-transform: uppercase;
    padding-left: 10px;
    font-weight: bold;
    color: var(--white);
    background: var(--nav-top-gradient);
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 8px 0 0;
}

.Dashboard_admin__user_management{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    width: 80%;
    border-radius: 0 10px 10px 0;
    border: solid 1px var(--black);
    background-color: var(--white);
}
.Dashboard_admin__user_management--table{
    width: 100%;
    min-height: 400px;
    padding: 0 20px;
}

.Dashboard_admin__user_management > .pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.6rem;
    color: var(--black);
}
.lastNameTitle, .lastNameContent{
    width: 80px !important; 
    max-width: 80px; 
    min-width: 80px; 
    text-overflow: ellipsis;  
    white-space: nowrap;
    overflow: hidden;
    word-wrap: 'break-word';
}


.firstNameTitle, .firstNameContent{
    width: 80px !important; 
    max-width: 80px; 
    min-width: 80px; 
    text-overflow: ellipsis;  
    white-space: nowrap;
    overflow: hidden;
    word-wrap: 'break-word';
}

.table_email{
    width: 200px !important; 
    max-width: 200px; 
    min-width: 200px; 
    text-overflow: ellipsis;  
    white-space: nowrap;
    overflow: hidden;
    word-wrap: 'break-word';
}

.table_status{
    width: 150px !important; 
    max-width: 150px; 
    min-width: 150px; 
    text-overflow: ellipsis;  
    white-space: nowrap;
    overflow: hidden;
    word-wrap: 'break-word';

}

.ACTIVED{
    color: var(--green) !important;
}

.UNVERIFIED{
    color: var(--background-color-1) !important;
}

.BLOCKED{
    color: var(--red) !important;
}

.user_block_btn{
    background-color: transparent;
    color: var(--red) !important;
}

.user_verify_btn{
    background-color: transparent;
    color: var(--background-color-1) !important;
}

.user_unblock_btn{
    background-color: transparent;
    color: var(--green) !important;
}

.pagination_users{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.pagination__previous, .pagination__previous{
    display: flex;
    background-color: transparent;
    padding: 5px;
    align-items: center;
    font-size: 1.6rem;
}

.pagination__previous:hover, .pagination__previous:hover{
    color: var(--background-color-1);
}

.pagination__page_num--active{
    display: flex;
    background: var(--nav-top-gradient);
    color: var(--white);
    font-size: 1.6rem;
    padding: 5px;
    align-items: center;
}

.pagination__page_num--unactive{
    display: flex;
    background-color: transparent;
    font-size: 1.6rem;
    padding: 5px;
    align-items: center;
}

.Dashboard_admin__system_monitoring{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    width: 80%;
    border-radius: 0 10px 10px 0;
    border: solid 1px var(--black);
    background-color: var(--white);
}

.system_monitoring__content{
    width: 100%;
    height: 100vh;
}
