.Feedback__event_name{
    font-size: 2rem !important;
    text-transform: uppercase !important;
    border-left: solid 4px var(--background-color-1) !important;
    padding-left: 10px !important;
    font-weight: bold !important;
}

.modal-body{
    font-size: 1.6rem !important;
}

.modal-body > .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Feedback__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    user-select: none;
}

.normal-input{
    border: solid 1px var(--black);
}

.error-input{
    border: solid 1px var(--red) !important;
}