.Dashboard_business__wrapper{
    display: flex;
    width: 100vw;
    flex-direction: column;
    background-color: var(--gray--trans);
}

.Dashboard_business {
    display: flex;
    width:100%;
    height: fit-content;
    justify-content: space-between;
    padding: 40px;
    position: relative;
    clear: both;
}

.Dashboard_business__form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    border-radius: 0 10px 10px 0;
    border: solid 1px var(--black);
    background-color: var(--white);
}

.Dashboard_business_form__full_name{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form_first_name, .form_last_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: fit-content;
}

.Dashboard_business_form__input_name{
    width: 120px;
    padding: 10px 20px;
    font-size: 1.6rem;
}

.Dashboard_business__infor_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 1.6rem;
    margin: 20px auto;
    width: 350px;
}

.Dashboard_business_form__label{
    width: 100%;
}

.Dashboard_business_form__input{
    width: 100%;
    padding: 10px 20px;
    font-size: 1.6rem;
}

.Dashboard_business_form__input_date{
    width: 100%;
    height: 45px;
    font-size: 1.6rem;
    display: flex;
}

.Dashboard_business_form__input_date > .form-control {
    flex: 1;
    border: none !important;
    font-size: 1.6rem !important;
    padding-left: 20px;
}

#description{
    width: 100%;
    padding: 10px 20px;
    font-size: 1.6rem;
}

.Dashboard_business_form__input_description{
    width: 100%;
    padding: 10px 20px;
    font-size: 1.6rem;
}

.normal-input{
    border-radius: 5px;
    border: solid 1px var(--black);
}

.error-input{
    border-radius: 5px;
    border: solid 1px var(--red);
}

.Dashboard_business__form--reset{
    width: 100%;
    color: var(--purple);
    font-weight: lighter;
}

.business_error{
    display: flex;
    font-size: 1.4rem;
    width: 100%;
    color: var(--red);
    margin-top: -10px;
    justify-content: center;
}

.Dashboard_business__form--submit_btn{
    display: flex;
    justify-content: center;
    background: var(--purple);
    width: 100px;
    padding: 10px 0;
    border-radius: 10px;
    border: none;
    color: var(--white);
    font-size: 1.6rem;
}

.form__list{
    display: flex;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: solid 1px var(--black);
}

.form__seat_range{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form__start_seat, .form_last_seat{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_input_seat{
    width: 150px;
    padding: 10px 20px;
    font-size: 1.6rem;
}

.Dashboard_business__sidebar{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    height: 100%;
    border-radius: 10px 0 0 10px;
    padding: 40px 40px 20px 40px;
    border: solid 1px var(--black);
    height: auto;
    font-size: 1.6rem;
    background-color: var(--white);
}

.Sidebar__avt_name{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
    border-bottom: solid 2px var(--black);
    width: 90%;
    margin-bottom: 10px;
}

.Sidebar_avt{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 1px var(--black);
}

.iconPencil{
    width: 20px;
}


.Sidebar__menu{
    list-style: none;
}

.Sidebar__menu--item{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    width: 200px;
    color: var(--black);
    cursor: pointer;
}

.Sidebar__menu--item_active{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    width: 200px;
    color: var(--background-color-1);
    cursor: pointer;
}

.Dashboard_business__avatar{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.form_avt{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 1px var(--black);
}

.import_file_avatar{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 3rem;
    height: 3rem;
    background-color: var(--white);
    border: solid 1px var(--black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Dashboard_business__infor_input--title, .Dashboard_business__event_management--title, .Dashboard_business__support--title{
    font-size: 2rem;
    text-transform: uppercase;
    padding-left: 10px;
    font-weight: bold;
    color: var(--white);
    background: var(--nav-top-gradient);
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 8px 0 0;
}

.Dashboard_business__report{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    align-items: center;
    border-radius: 0 10px 10px 0;
    border: solid 1px var(--black);
    background-color: var(--white);
}

.Report_data{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    background: var(--nav-top-gradient);
    border-radius: 0 8px 0 0;
}

.Total_ticket_solds, .Total_transaction{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 1.6rem;
    padding: 10px 0;
}

.Select_event_time{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 0 40px;
    justify-content: space-between;
}

.Select_event, 
.Select_event > .form-control, 
.Select_start_date,
.Select_start_date > .form-control, 
.Select_end_date,
.Select_end_date > .form-control{
    font-size: 1.6rem;
}

.Select_time{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.Select_start_date,
.Select_end_date{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.See_revenue{
    display: flex;
    justify-content: center;
    background: var(--purple);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: var(--white);
    font-size: 1.6rem;
}

.Report_chart_line{
    width: 100%;
    padding: 0 20px;
}

.Dashboard_business__event_management, .Dashboard_business__support{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    width: 80%;
    border-radius: 0 10px 10px 0;
    border: solid 1px var(--black);
    background-color: var(--white);
}

.Send_event_btn__wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 20px;
}

.Send_event_btn{
    display: flex;
    height: 40px;
    padding-left: 20px;
    width: 170px;
    gap: 10px;
    align-items: center;
    background-color: var(--background-color-1);
    color: var(--white);
    font-weight: bold;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    border: none;
}

.Dashboard_business__event_management--table, .Dashboard_business__support--table{
    width: 100%;
    min-height: 400px;
    padding: 0 20px;
}

.custome_table, .table__title , .table__content_10{
    font-size: 1.6rem;
    border-radius: 10px !important;
    overflow: hidden;
}

.table__title > .stt{
    border-radius: 10px 0 0 0 !important;
}

.Dashboard_business__event_management > .pagination , .Dashboard_business__support > .pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.6rem;
    color: var(--black);
}

.pagination > li{
    min-width: 20px;
    display: flex;
    justify-content: center;
}

.active{
    color: var(--background-color-1);
}

.eventNameTitle, .eventNameContent{
    width: 400px !important; 
    max-width: 400px; 
    min-width: 400px; 
    text-overflow: ellipsis;  
    white-space: nowrap;
    overflow: hidden;
    word-wrap: 'break-word';
}

.eventNameTitle_support, .eventNameContent_support{
    width: 300px !important; 
    max-width: 300px; 
    min-width: 300px; 
    text-overflow: ellipsis;  
    white-space: nowrap;
    overflow: hidden;
    word-wrap: 'break-word';
}

.EventDetail__btn{
color: var(--background-color-1);
}

.response_support_wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 40px;
    margin-bottom: 20px;
}

.Response_support_btn{
    background-color: transparent;
    color: var(--background-color-1);
}

.Response_support_send_btn__wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.Response_support_send_btn{
    display: flex;
    padding: 10px;
    background-color: var(--background-color-1);
    color: var(--white);
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

.pagination_events{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.pagination_supports{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.Sidebar_business__name{
    width: 100%;
    text-align: center;
    padding-bottom: 1.25rem;
}