.Profile_customer__wrapper{
    display: flex;
    width: 100vw;
    flex-direction: column;
    background-color: var(--gray--trans);
}

.Profile_customer {
    display: flex;
    width:100%;
    padding: 40px;
    position: relative;
    clear: both;
}

.update_avatar{
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    border: solid 1px var(--black);
}


.Profile_customer__form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    border-radius: 0 10px 10px 0;
    border: solid 1px var(--black);
    background-color: var(--white);
}

/* .Profile_customer__infor_input--title{
    font-size: 2rem;
    text-transform: uppercase;
    padding-left: 10px;
    font-weight: bold;
    color: var(--background-color-1);
} */

.Profile_customer__infor_input--title{
    font-size: 2rem;
    text-transform: uppercase;
    padding-left: 10px;
    font-weight: bold;
    color: var(--white);
    background: var(--nav-top-gradient);
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 8px 0 0;
}

.Profile_customer_form__full_name{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form_first_name, .form_last_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: fit-content;
}

.Profile_customer_form__input_name{
    width: 120px;
    padding: 10px 20px;
    font-size: 1.6rem;
}

.Profile_customer__infor_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    font-size: 1.6rem;
    width: 350px;
}

.Profile_customer_form__label{
    font-size: 1.6rem;
    width: 100%;
}

.Profile_customer_form__input{
    width: 100%;
    padding: 10px 20px;
    font-size: 1.6rem;
}

.Profile_customer_form__input_date{
    width: 100%;
    height: 45px;
    font-size: 1.6rem;
    display: flex;
}

.Profile_customer_form__input_date > .form-control {
    flex: 1;
    border: none !important;
    font-size: 1.6rem !important;
    padding-left: 20px;
}

#description{
    width: 100%;
    padding: 10px 20px;
    font-size: 1.6rem;
}

.Profile_customer_form__input_description{
    width: 100%;
    padding: 10px 20px;
    font-size: 1.6rem;
}

.normal-input{
    border-radius: 5px;
    border: solid 1px var(--black);
}

.error-input{
    border-radius: 5px;
    border: solid 1px var(--red);
}

.Profile_customer__form--reset{
    width: 100%;
    color: var(--purple);
    font-weight: lighter;
}

.error{
    display: flex;
    font-size: 1.4rem;
    color: var(--red);
    margin-top: -10px;
}

.Profile_customer__form--submit_btn{
    display: flex;
    justify-content: center;
    background: var(--purple);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: var(--white);
    font-size: 1.6rem;
}

.form__list{
    display: flex;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: solid 1px var(--black);
}

.form__seat_range{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form__start_seat, .form_last_seat{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_input_seat{
    width: 150px;
    padding: 10px 20px;
    font-size: 1.6rem;
}

.Profile_customer__sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 0 0 10px;
    border: solid 1px var(--black);
    width: 25%;
    height: auto;
    padding: 40px 40px 20px 40px;
    font-size: 1.6rem;
    background-color: var(--white);
}

.Sidebar__avt_name{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
}

.Sidebar_avt{
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 1px var(--black);
}

.iconPencil{
    width: 20px;
}

.Sidebar__name{
    padding-bottom: 15px;
}


.Sidebar__menu{
    list-style: none;
}

.Sidebar__menu--item{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    width: 200px;
    color: var(--black);
}

.Profile_customer__avatar{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.form_avt{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 1px var(--black);
}

.import_file_avatar{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 3rem;
    height: 3rem;
    background-color: var(--white);
    border: solid 1px var(--black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Subscription_btn{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.Subscription_btn > .form-switch{
    padding: 0;
}

.successful{
    display: flex;
    font-size: 1.4rem;
    color: var(--green);
    margin-top: -10px;
}

.Customer_ticket_management{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 75%;
    border-radius: 0 10px 10px 0;
    border: solid 1px var(--black);
    background-color: var(--white);
}

.Customer_ticket_management > table{
    font-size: 1.6rem;
}

td, th {
    vertical-align: middle;
}

.Feedback_btn{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    color: var(--purple);
}

.Customer_change_password{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 75%;
    border-radius: 0 10px 10px 0;
    border: solid 1px var(--black);
    background-color: var(--white);
    padding-bottom: 40px;
}

.Profile_customer__old_password, .Profile_customer__new_password{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.event_name{
    max-width: 150px; 
    text-overflow: ellipsis;  
    white-space: nowrap;
    overflow: hidden;
}

.fpt_ai_livechat_header_name{
    font-size: 1.6rem !important;
}

.paid{
    color: var(--green) !important;
}

.wait_to_paid{
    color: var(--orange) !important;}

.refund{
    color: var(--red) !important;}

.pagination_tickets{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.Profile_customer__ticket_management--table{
    width: 100%;
    min-height: 400px;
    padding: 0 20px;
    font-size: 1.6rem;
}