.Sign_up__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    gap: 100px;
    background: var(--nav-top-gradient);
}

.Sign_up__poster{
    height: 500px;
    object-fit: contain;
}

.Sign_up{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border:none;
    background-color: var(--white);
    align-items: center;
    box-shadow: 5px 10px 8px #888888;
    padding: 20px 40px;
    gap: 20px;
    font-size: 1.6rem;
    margin: 50px 0;
}

.Sign_up__logo{
    height: 50px;
    object-fit: contain;
}

.Sign_up__nav{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    gap: 20px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(241,90,36,1) 0%, rgba(251,176,59,1) 100%);
    border-radius: 20px;
}

.Sign_up__nav--signin_btn, .Sign_up__nav--sign_up_btn{
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 100px;
    padding: 10px 0;
    border-radius: 10px;
    border: none;
    color: var(--purple);
    font-size: 1.6rem;
}

.active{
    background: var(--nav-top-gradient);
    color: var(--white);
}

.Sign_up__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 1.6rem;
    margin-bottom: 20px;
    width: 300px;
}

.form__full_name{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form_first_name, .form_last_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: fit-content;
}

.form__input_name{
    width: 100px;
    border-radius: 5px;
    border: solid 1px var(--black);
    padding: 10px 20px;
}

.form__label{
    width: 100%;
}

.form__input{
    width: 100%;
    border-radius: 5px;
    border: solid 1px var(--black);
    padding: 10px 20px;
}

.Sign_up__form--forgot{
    width: 100%;
    color: var(--purple);
    font-weight: lighter;
}

.Sign_up__form--submit_btn{
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(241,90,36,1) 0%, rgba(251,176,59,1) 100%);
    width: 100px;
    padding: 10px 0;
    border-radius: 10px;
    border: none;
    color: var(--purple);
    font-size: 1.6rem;
}

