:root{
  --white: #fff;
  --black: #000;
  --background-color-1: #DADADA;
  --blue: #0ea5e9; 
  --gray: #CCCCCC;
  --pastel: #EF9595;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--white);
}

button{
  user-select: none;
  cursor: pointer;
}

a{
  text-decoration: none;
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
  cursor: pointer;
}

/* input::placeholder {
  font-size: 1.6rem;
}

fa-icon {
  cursor: pointer;
} */