.Support_form__event_name{
    font-size: 2rem !important;
    text-transform: uppercase !important;
    border-left: solid 4px var(--background-color-1) !important;
    padding-left: 10px !important;
    font-weight: bold !important;
}

.modal-body{
    font-size: 1.6rem !important;
}

.modal-body > .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Support_form__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.support__title, .support__content{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
    margin-bottom: 20px;
    font-size: 1.6rem;
}

.selectSeatForm > .btn , .paymentForm > .btn{
    display: flex;
    padding: 10px 30px;
    width: fit-content;
    font-size: 1.6rem;
    margin: auto;
}

.support__title > .form-control, .support__content > .form-control{
    font-size: 1.6rem !important;
}

.support_form__input{
    width: 100%;
    padding: 10px 20px;
}

.normal-input{
    border: solid 1px var(--black);
}

.error-input{
    border: solid 1px var(--red) !important;
}

.Support--submit_btn{
    background-color: var(--background-color-1);
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
    color: var(--white);
    width: fit-content;
    font-size: 1.6rem;
    border-radius: 5px;
    border: none;
}